/*SOCIAL ICONS*/
.social {
	display: inline-block;
	height: 50px;
	width: 50px;
	position: relative;
}

#facebook {
	background-image: url("../images/icons-sprite-sheet.png");
	background-size: 400%;
	background-position: 0px -39px;
	overflow: hidden;
}

#facebook:hover {
	background-position: 0px -89px;
	cursor: pointer;
}

#linkedin {
	background-image: url("../images/icons-sprite-sheet.png");
	background-size: 400%;
	background-position: 150px -39px;
	overflow: hidden;
}

#linkedin:hover {
	background-position: 150px -89px;
	cursor: pointer;
}

#twitter {
	background-image: url("../images/icons-sprite-sheet.png");
	background-size: 400%;
	background-position: 100px -39px;
	overflow: hidden;
}

#twitter:hover {
	background-position: 100px -89px;
	cursor: pointer;
}

#email {
	background-image: url("../images/icons-sprite-sheet.png");
	background-size: 400%;
	background-position: 50px -39px;
	overflow: hidden;
}

#email:hover {
	background-position: 50px -89px;
	cursor: pointer;
}

/*NAME*/
.name {
	font-family: Didot;
	font-size: 30px;
	top: 0;
    left: 50px;
	display: inline-block;
    position: absolute;
}

.name:hover {
	color: #D21D52;
	cursor: pointer;
}

#last {
	margin-top: -76px;
	margin-left: 34px;
}

/*BILLBOARD*/
.motto {
    opacity: 0;
    display: inline-block;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.billboard {
    font-family: Amatic SC;
    color: #4BB3CB;
    background-image: url("../images/billboard.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 0px;
    right: 50px;
    line-height: 0px;
    padding: 40px 0 0 30px;
}

/*GO TO TOP BUTTON*/
.go-top {
	width: 150px;
	height: 62.5px;
	background-image: url("../images/top-sprite.png");
	background-position: 0px 0px;
	background-size: 100%;
	display: none;
    position: fixed;
    top: 0px;
}

.go-top:hover {
	background-position: 0px -62.5px;
	cursor: pointer;
}

/*DEFAULT OFF*/
#bio, #design, #code, #do {
    display: none;
}

/*SHARED*/
html, body {
    height: 100%;
}

.background {
    position: fixed;
    z-index: -2;
    height: 100%;
    width: 100%;
    bottom: 0;
}

.inline {
    display: inline-block;
}

iframe {
	width: 80%;
}

ul {
    list-style: none;
}

.line {
	background-image: url("../images/line.png");
	height: 10px;
	background-repeat: no-repeat;
	width: 30%;
	margin: 0 auto;
}

.projects {
    font-family: Amatic SC;
    background-color: #B7B4B2;
    color: #FFFFFF;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 1%;
    margin: 200px 0 50px 50px;
    width: 55%;
    
    -webkit-transition-property: top, bottom;
    -webkit-transition-duration: 0.5s;

    transition: width 2s, height 2s, transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
}

.projectDetails img {
    width: 40%;
}

.projectDetails {
    margin: 0 0 30px 0;
    display: none;
}

.projectList {
	text-align: center;
}

.textBody {
    font-family: Oswald;
    color: #000000;
    font-weight: 300;
}


/*BIO*/
.resume {
	display: inline-block;
	margin-left: 2%;
}

#welcome:hover, .projectTitle:hover, .resume:hover {
	color: #D21D52;
	cursor: pointer;
}

#bio img {
    width: 40%;
    display: block;
}

.bioTLDR {
    font-size: 20px;
}

/*MEDIA QUERIES*/
@media (min-width: 1100px) {
    
    .background {
		background-image: url("../images/background-big.png");
		background-repeat: no-repeat;
        background-position: bottom;
	}
    
    .billboard {
        font-size: 30px;
        height: 300px;
        width: 300px;
        /*z-index: -1;*/
    }
    
    .clickme {
        text-align: center;
        width: 25%;
        margin: 30% auto 0 auto;
    }
    
    .icons {
		bottom: 50px;
		right: 50px;
		position: fixed;
	}
}

@media (min-width: 875px) and (max-width: 1099px) {
    
    .background {
        background-image: url("../images/background-medium.png");
		background-repeat: no-repeat;
        background-position: bottom;
    }
    
    .billboard {
        font-size: 25px;
        height: 300px;
        width: 250px;
    }
    
    .clickme {
        text-align: center;
        width: 25%;
        margin: 30% auto 0 auto;
    }
    
    .icons {
		bottom: 50px;
		right: 50px;
		position: fixed;
	}
}

@media (min-width: 750px) and (max-width: 874px) {
    .background {
        background-image: url("../images/background-medium.png");
		background-repeat: no-repeat;
        background-position: bottom;
    }
    
    .billboard {
        font-size: 23px;
        height: 300px;
        width: 200px;
    }
    
    .clickme {
        text-align: center;
        width: 25%;
        margin: 30% 0 0 15%;
    }
    
    .icons {
		bottom: 50px;
		right: 50px;
        position: fixed;
    }
}

@media (min-width: 550px) and (max-width: 749px) {
    .background {
         background-image: url("../images/background-small.png");
		background-repeat: no-repeat;
        background-position: bottom;
    }
    
    .billboard {
        font-size: 23px;
        height: 300px;
        width: 200px;
    }
    
    .projects {
        width: 80%;
        margin: 250px auto;
    }
    
    .clickme {
        text-align: center;
        width: 25%;
        margin: 50% auto 0 auto;
    }
    
    .icons {
		position:fixed;
        left: 50px;
        top: 175px;
    }
    
    .name {
        position:fixed;
        background-color: #FFFFFF;
        width: 100%;
        height: 250px;
    }
}

@media (max-width: 600px) {
    
    .background {
        background-image: url("../images/background-small.png");
		background-repeat: no-repeat;
        background-position: bottom;
    }
    
    .icons {
		position:absolute;
        top: 175px;
        left: 75px;
    }
    
    .name {
        left: 75px;
    }
    
    .billboard {
        text-align: center;
        height: 50px;
        width: 100%;
        background-image: none;
        left: -25px;
        top: 200px;
        position: absolute;
    }
    
    .code, .design, .do {
        display: inline-block;
    }
    
    .projects {
        width: 80%;
        margin: 300px auto 10px auto;
    }
    
    .clickme {
        text-align: center;
        width: 50%;
        margin: 400px auto 0 auto;
    }
    
}